// Logotype

.logotype {
	float: right;
	padding-top: 1.5em;
	padding-right: 1em;

	@media(min-width:$screen-desktop) {
		float: left;
		padding-top: 3.4em;
	}
}

.logotype-text {
	font-size: 2em;
	text-transform: uppercase;
}